/* Base styles (xs - extra small, default for all sizes) */

@media (min-width: 576px) {
  .con-sm-12 {
    width: 100%;
  }
  .pad-hor-1 {
    padding-right: 10px;
    padding-left: 10px;
  }
  .mar-hor-1 {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media (min-width: 1400px) {
  .con-xxl-2 {
    width: 16.6667%;
  }
  .con-xxl-5 {
    width: 41.6667%;
  }
  .con-xxl-11 {
    width: 91.6667%;
  }
  .pad-hor-1 {
    padding-right: 5%;
    padding-left: 5%;
  }
  .mar-hor-1 {
    margin-right: 5%;
    margin-left: 5%;
  }
}
