body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
* @Containers
*/
.con-75 {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
}
.flex-row {
  display: flex;
  flex-direction: row;
}
.app-body {
}


/* 
* @Form
* Form elements 
*/
label {
  font-weight: bold;
  font-size: 14px;
  color: #303030;
}
input, textarea {
  padding: 10px;
  width: 98%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus, textarea:focus {
  border: 1px solid #4da6ff;
  outline: none;
}

button {
  padding: 6px 24px;
  text-align: center;
  border: 1px solid #ccc;
  background-color: white;
  border-radius: 5px;
}
.button-none {
  border: none;
  background-color: transparent;
  color: blue;
}
.delete-button-none {
  border: none;
  background-color: transparent;
  color: red;
}
button:hover {
  cursor: pointer;
  background-color: #f0f0f0;
}

.form-section {
  margin-top: 14px;
  margin-bottom: 14px;
}

/* 
* @Card
*/
.card {
  min-width: 16%;
  margin-bottom: 10px;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-right: 10px;
  height: 210px;
}
.card-image {
  height: 150px;
  background-color: #f0f0f0;
}
.card-body {
  padding: 5px;
}
.card-title {
  font-size: 16px;
  font-weight: bold;
}
.card-body {

}

/** 
* @Navbar
*/

.top-navbar {
  display: flex;
  align-items: center;
  min-height: 55px;
  border-bottom: 1px solid #ccc;
}
.nav-item {
  text-decoration: none;
  font-size: 21px;
  font-weight: bold;
  color: #2d2d2d;
}
/* 
* @Page
*/
.page-heading {
  font-weight: bold;
  font-size: 32px;
}
.section-title {
  font-weight: bold;
  font-size: 24px;
}
.chapter-nav {
  padding-top: 5px;
  padding-bottom: 5px;
}
.section-nav {
  padding-top: 3px;
  padding-bottom: 3px;
}
.book-nav-title {
  font-weight: bold;
  font-size: 18px;
}
/*
* @Modal
*/

.modal-print {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-color: white;
}

.modal-overlay {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
  z-index: 999; /* modal z-index*/
}

/* Modal Content/Box */

.modal {
  background-color: #fefefe;
  margin: 5% auto;
  width: 30%;
  border-radius: 12px;
}

.modal-md {
  background-color: #fefefe;
  margin: 5% auto;
  width: 50%;
  border-radius: 12px;
}

.modal-md-content-container {
  width: 100%;
}

/* Media query for screens smaller than 600px (adjust the breakpoint as needed) */
@media (max-width: 600px) {
  /* Adjust the width of the modal for smaller screens */
  .modal-md-content-container {
    width: 100%;
  }
  .modal {
    width: 90%;
  }
}

@media (max-width: 1460px) {
  /* Adjust the width of the modal for smaller screens */
  .modal-md-content-container {
    width: 100%;
  }
  .modal {
    width: 45%;
  }
}

@media (max-width: 760px) {
  /* Adjust the width of the modal for smaller screens */
  .modal-md-content-container {
    width: 100%;
  }
  .modal {
    width: 90%;
  }
  .modal-md {
    width: 90%;
  }
}

@media (max-width: 460px) {
  /* Adjust the width of the modal for smaller screens */
  .modal-md-content-container {
    width: 100%;
  }
  .modal {
    width: 90%;
  }
  .modal-md {
    width: 90%;
  }
}

.close-button {
  background: none;
  border: none;
  color: #0073e6;
  cursor: pointer;
  font-weight: bold;
  margin-bottom: 10px;
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

/* 
* @Global
*/
.cursor:hover {
  cursor: pointer;
}

